/* Importação da fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: #fff;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
body {
  background: #16061f;
}

.nomeefect {
  color: #ab27f2;
}

.calltoaction {
  width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 6.25rem;
}

@keyframes drampa {
  from {
    position: relative;
    left: -625rem;
    top: 3.125rem;
  }
  to {
    left: 0;
    top: 0%;
  }
}

header {
  width: 100dvw;
  height: 11.532125205930807vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: -0.313rem;
  background: #16061f;
  z-index: 5;
  animation: drampa 0.5s;
}

/*  */

header.roll {
  -webkit-box-shadow: 0.125rem 0.563rem 1.75rem -0.625rem rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0.125rem 0.563rem 1.75rem -0.625rem rgba(0, 0, 0, 0.61);
  box-shadow: 0.125rem 0.563rem 1.75rem -0.625rem rgba(0, 0, 0, 0.61);
}

header h1.rolagem span {
  margin-right: 0.25rem;
}

header h1.rolagem {
  font-size: 1.25rem;
}
header h1.rolagem::after {
  content: "ucule";
}

header h1.rolagem span::after {
  content: "ermano";
}

header .nome {
  color: #fff;
  font-size: 2.75rem;
  font-weight: extrabold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

header nav img {
  display: none;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.313rem;
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  color: #fff;
  opacity: 0.4;
  font-size: 1.25rem;
  font-weight: lighter;
  font-weight: 200;
  transition: 0.5s ease-out;
}
header nav ul a:hover {
  color: #ffffff;
  border-bottom: 0.125rem solid #a224e0;
  opacity: 1;
  zoom: 1.01;
}
.hidden {
  display: none;
}

.escrolagem,
.escrolagem1,
.escrolagem2,
.escrolagem3,
.logo {
  visibility: hidden;
}

/* main senção da apresentação */
/* lado dos textos */

@keyframes apareca {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.apresentacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: apareca 2s ease-in-out;
}

.apresentacao .texto {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 12.5rem;
  gap: 5.063rem;
}
.apresentacao .texto > div {
  line-height: -0.5rem;
}
.apresentacao .texto h3 {
  font-size: 2.75rem;
  font-weight: lighter;

  white-space: nowrap;
  overflow: hidden;
  display: inline-block; /* Permite que o width seja animado */
  width: 0; /* Inicia o elemento com largura 0 */

  animation: escreverh3 5s steps(22, end) 1; /* Executa apenas 1 vez */
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

.apresentacao .texto h1 {
  font-size: 2.75rem;
  font-weight: extrabold;
  width: 0;

  border-right: 0.313rem solid #a224e0;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 1s step-end infinite, escrever 15s steps(22, end) infinite;
  animation-delay: 2s;
}
/* Animações */
@keyframes cursor {
  50% {
    border-right: transparent;
  }
}
@keyframes escrever {
  20% {
    width: 13.4ch;
  }
  70% {
    width: 13.4ch;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes escreverh3 {
  0% {
    width: 0;
  }
  20% {
    width: 5.5ch;
  }
  70% {
    width: 5.5ch;
  }
  85% {
    width: 5.5ch;
  }
  100% {
    width: 5.5ch;
  }
}

@keyframes escreverh2 {
  0% {
    width: 0;
  }
  20% {
    width: 20.4ch;
  }
  70% {
    width: 20.4ch;
  }
  85% {
    width: 20.4ch;
  }
  100% {
    width: 20.4ch;
  }
}

@keyframes escreverp {
  0% {
    width: 0;
  }
  20% {
    width: 15ch;
  }
  70% {
    width: 15ch;
  }
  85% {
    width: 15ch;
  }
  100% {
    width: 15ch;
  }
}

/*  */

.apresentacao .texto h2 {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: escreverh2 6s steps(22, end) 1; /* Executa apenas 1 vez */
  animation-delay: 5s;
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
}
.apresentacao .texto p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  margin: -0.5rem 0 1.25rem 0;

  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: escreverp 6s steps(22, end) 1; /* Executa apenas 1 vez */
  animation-delay: 6s;
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

.apresentacao .texto div:nth-child(2) {
  display: flex;
  gap: 2.625rem;
}

.apresentacao .texto button {
  width: 10.125rem;
  height: 3.125rem;
  background: transparent;
  padding: 0.938rem 1.25rem;
  border-radius: 0.313rem;
  text-align: center;
  cursor: pointer;
}

.apresentacao .texto #bt2:hover {
  background: #a224e0;
  transition: 0.3s ease-in-out;
  border: none;
}
.apresentacao .texto #bt2:hover svg {
  stroke: #0a0c16;
  transition: 0.3s ease-in-out;
}
.apresentacao .texto #bt1:hover {
  background: transparent;
  transition: 0.3s ease-in-out;
  border: 0.063rem solid #ab27f2;
}
.apresentacao .texto #bt1:hover svg {
  stroke: #e4e4e4;
  transition: 0.3s ease-in-out;
}

.apresentacao .texto #bt1 {
  border: none;
  background: #a224e0;
}
.apresentacao .texto #bt1 svg {
  stroke: #0a0c16;
}

.apresentacao .texto #bt2 {
  border: 0.063rem solid #ab27f2;
}
.apresentacao .texto #bt2 svg {
  stroke: #e4e4e4;
}

/* lado da imagem */
.apresentacao .imagem {
  width: 40%;
}
.apresentacao .imagem img {
  width: 25rem;
}

/* Primeira senção terminada */
/* */
/* */
/* */
/* senção sobre mim */

.sobre {
  width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5.625rem;
  padding-left: 9.375rem;
  gap: 0.438rem;
  margin-bottom: 9.375rem;
}
.sobre img {
  width: 51.24450951683748vw;
  position: absolute;
  top: 34.375rem;
  left: 0;
  z-index: -1;
  opacity: 50%;
}
.sobre h1 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
}

.sobre div {
  padding: 0.625rem 50px 10px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre div p {
  font-size: 16px;
  font-weight: lighter;
}
/* Fim da senção sobre */
/* */
/* */
/* */
/* Senção habilidades */
.habilidades {
  width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-left: 150px;
}
.habilidades #efeito {
  width: 300px;
  position: absolute;
  top: 1060px;
  right: 0;
  z-index: -1;
  opacity: 70%;
}
.habilidades h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}
.habilidades .content {
  font-size: 26px;
  font-weight: lighter;
  width: 450px;
  position: relative;
  left: 700px;
  top: 150px;
  transition: all 1s ease-in-out;
}
.habilidades .content {
  visibility: hidden;
}
.habilidades .imagens {
  position: relative;
  top: -90px;
}
.habilidades div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: -20px; */
}

.habilidades svg {
  width: 50px;
  animation: infini 2s steps(2, end);
  animation-delay: 4s;
}
.habilidades svg:hover,
.habilidades p:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@keyframes infini {
  0% {
    transform: scale(1.3);
  }
  20% {
    rotate: 360deg;
  }
  50% {
    transform: scale(1);
  }
}

/* tailwind */
.habilidades div:nth-child(1) svg {
  /* box-shadow: 16px 12px 68px #38bdf8; */
}
.habilidades div:nth-child(1) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
/* Css */
.habilidades div:nth-child(2) svg {
  /* box-shadow: 8px -4px 68px #264de4; */
}
.habilidades div:nth-child(2) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
/* Htlm */

.habilidades div:nth-child(3) svg {
  /* box-shadow: 8px 4px 68px #ec6231; */
}
.habilidades div:nth-child(3) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
/* Javascript */

.habilidades div:nth-child(4) svg {
  margin-top: 50px;
  margin-left: -150px;
  /* box-shadow: 8px 12px 58px #f7df1e; */
}
.habilidades div:nth-child(4) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: -150px;
}
/* React.js */

.habilidades div:nth-child(5) svg {
  margin-left: -150px;
  /* box-shadow: 8px 12px 68px #00d8ff; */
}
.habilidades div:nth-child(5) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: -150px;
}
/* Posicionamento */
.habilidades div:nth-child(2),
.habilidades div:nth-child(4) {
  margin-left: -500px;
}
.habilidades div:nth-child(3) {
  justify-content: right;
  margin-left: -1020px;
}
/* Fim da senção habilidades */
/* */
/* */
/* */
/* Senção projectos */
.projectos {
  width: 100dvw;
  height: auto;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.projectos .allprojects {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
.projectos h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  padding-left: 150px;
}
.project {
  position: relative;
  transition: 3s ease-in-out;
}
.project .ver {
  position: absolute;
  top: 120px;
  left: 95px;
}
.project .ver {
  font-weight: 400;
}
.projectos .project {
  width: 250px;
  height: 300px;
  background: #ab27f2;
  border-radius: 15px;
  box-shadow: 0 4px 20px #a224e049;
  transition: 0.1s ease-out;
}

.projectos .project:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px #a224e0;
}
.projectos .project .img {
  background: #000;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 15px 0;
}
.projectos .project img:hover {
  opacity: 20%;
  transition: 0.2s ease-in-out;
}

.projectos .project img {
  border-radius: 15px 15px 15px 0;
  width: 100%;
  height: 200px;
  opacity: 66%;
  border: 1px solid rgba(0, 0, 0, 0.66);
  cursor: pointer;
}
.projectos .project .paragrafo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px 20px 20px;
}
.projectos .project h2 {
  font-size: 16px;
  font-weight: semibold;
}

.projectos .project p {
  font-size: 10px;
  font-weight: regular;
}
.btstyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#bt3 {
  text-align: center;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(91, 47, 222, 1);

  font-size: 20px;
  font-weight: regular;
  cursor: pointer;
  margin-bottom: 90px;
  color: #7c7b7b;
  transition: 0.2s ease-in-out;
}

#bt3:hover {
  background: #310746;
  color: #fff;
}

#info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 8px;
  background: rgb(15, 15, 15);
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
  z-index: 10;
  box-shadow: 0 5px 8px #a224e0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

@keyframes ondular {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  20% {
    opacity: 0.1;
    background: #fff;
    color: #000;
    box-shadow: none;
  }
  25% {
    opacity: 0.3;
    background: #310746;
    color: #264de4;
    box-shadow: none;
  }
  30% {
    opacity: 0.4;
    background: #a224e0;
    color: #0a0c16;
    box-shadow: none;
  }
  70% {
    opacity: 0.5;
    background: #264de4;
  }
  85% {
    opacity: 0.8;
    background: #16061f;
  }
  90% {
    opacity: 1;
    background: rgb(15, 15, 15);
  }
}

/* Fim da senção projectos */
/* */
/* */
/* */
/* Rodapé */

.rodape {
  width: 100dvw;
  height: 329px;
  background: #0a0c16;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.rodape h1 {
  font-size: 20px;
  font-weight: extrabold;
}

.rodape h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.rodape .direitos {
  font-size: 12px;
  font-weight: regular;
  color: #7c7b7b;
}

.meioscont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.campotext a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
}
.campotext svg {
  width: 29px;
  height: 29px;
  stroke: #a224e0;
}
.campotext svg:hover,
.campotext p:hover {
  transform: scale(1.2);
}
.campotext {
  font-size: 12px;
  font-weight: semibold;
}

.rodape #footerefeito {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 70%;
}

.rodape #footerefeito1 {
  width: 200px;
  position: absolute;
  bottom: 40px;
  right: 0;
  opacity: 70%;
}
